{% for produto in produto.object_list %}
<tr>
    <th>{{ produto.id }}</th>
    <td>{{ produto.desc }}</td>
    <td>{{ produto.sn }}</td>
    <td>
        <button data-url="{% url 'techcd:update_produto' produto.id  %}"
           class="btn btn-small btn-warning js-produto-update">
            Editar
        </button>
    </td>

    <td>
        <button data-url="{% url 'techcd:delete_produto' produto.id  %}"
           class="btn btn-small btn-danger js-produto-deactivate">
            DESATIVAR
        </button>
    </td>
</tr>
{% empty %}
<tr>
    <th colspan="5" class="bg-warning text-center"> Não foi encontrado nenhum resultado</th>
</tr>
{% endfor %}