{%load utils_extras %}
{% for license in  licenses %}

<tr class="

{% if license.valid|valid_danger %} bg-danger {% endif %}
{% if license.valid|valid_warning %} bg-warning {% endif %}
{% if license.valid|valid_success %} bg-success {% endif %}

" >
        <td data-column="#">{{ license.id}}</td>
        <td data-column="cliente *">{{ license.cliente|upper}}</td>
        <td data-column="mac address *">{{ license.mac_address|upper}}</td>
        <td data-column="serial ">{{ license.serial|upper}}</td>
        <td data-column="validade *">{{ license.valid|date:"d/m/Y"}}</td>

        <td ><button class="btn btn-warning js-license-update" type="button" data-url="{% url 'license_update' license.id %}">
                <span class="glyphicon glyphicon-pencil"> </span>
        </button></td>

        <td ><button class="btn btn-danger js-license-delete" type="button" data-url="{% url 'license_delete' license.id %}">
                <span class="glyphicon glyphicon-trash"> </span>
        </button></td>
    </tr>

{% endfor %}