{% extends 'base.html' %}
{% load static %}
{% load utils_extras %}

{% block content  %}


<h1 class="page-header">licenças do perennity </h1>


<div class="form-group">
    <button id="add-license" class="btn btn-primary js-modal-form" data-url="{% url 'license_save' %}">
        <span class="glyphicon glyphicon-plus"></span>
        Licença
    </button>
</div>


<div class="col-md-6" style="margin-bottom:2em">
    <div class="row">
        <form action="" method="get" class="">
            <div class="input-group">
                <input name="lisence-search" type="text" class="form-control"
                       placeholder="Pesquisar por: Cliente, Mac Address ou Serial "
                       autofocus />

                <span class="input-group-btn">
                     <button class="btn btn-primary" type="submit">
                         <i class="glyphicon glyphicon-search"></i>
                    </button>
                 </span>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="modal-message" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="js-message"></h4>
            </div>
            <div class="modal-body">

                <strong>Serial:</strong> <p id="js-serial" class="lead"></p>
                <strong>Cliente:</strong> <p id="js-cliente" class="lead"></p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>




<!--  tabela de licenças -->
<div style="margin-top:2em">
    <form>
        <table id="license_table" class="table table-condensed table-hover" width="100%" cellspacing="0">
            <thead>
            <tr>
                <th>#</th>
                <th>CLIENTE *</th>
                <th>MAC ADRESS *</th>
                <th>SERIAL</th>
                <th>VALIDADE *</th>
                <th></th>
                <th></th>
            </tr>
            </thead>

            <tbody>

            {% include 'snippet/license_table.html'%}

            </tbody>
        </table>


        {% if licenses.has_other_pages %}
        <ul class="pagination">
            {% if licenses.has_previous %}
            <li><a href="?page={{ licenses.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in licenses.paginator.page_range %}
            {% if licenses.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
            <li><a  class="paginator" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if licenses.has_next %}
            <li><a href="?page={{ licenses.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
        {% endif %}


    </form>
</div> <!-- fim  tabela de licenças -->


<!--modal to add new objects in database  -->
<div id="modal-license" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">



        </div>
    </div>
</div>

{% endblock  %}

{% block js_extra %}
<!-- JQUERY EXTRAR PARA TABELAS PLUGIN https://datatables.net/-->
<script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'js/locales/bootstrap-datepicker.pt-BR.js' %}"></script>
<script  src="{% static 'js/jquery.bsFormAlerts.js' %}"></script>
<script type="text/javascript" src="{% static 'js/apps.js' %}"></script>

{% endblock %}
