{% extends 'base.html' %}

{% block content %}
<div class="container">

  <h1 class="page-header">TechCD  - INTRANET -</h1>

    <div class="jumbotron">

        <p class="lead">Essa essa uma pagina em desenvolvimento da techcd para auxilio  de alguns processo internos para ter acesso é só logar

            com seu usuário e senha do sistech, em caso de erro, envie um email para o <strong>thiago@techcd.com.br</strong>

            ou envie uma mensagem pelo WhatsApp  para <strong>0117051-3508 </strong>, você pode falar comigo também através  do

            <strong>skype:oliveiravicente.net</strong></p> <br />

        <h5>Envie nos a sua sugestão !</h5>

            <h4>Obrigado !!!</h4>

            <br />

        <a role="button"  href="{% url 'contato' %}" class="btn btn-lg btn-success"> Contato </a>
    </div>


</div>

{% endblock  %}